.header {
    padding: 64px 20px 54px;
    &__container {
        display: flex;
        justify-content: space-between;
        align-items: center;
    }
    &__logo {
        width: 60px;
        transition: all 0.3s;
    }
    &__logo:hover {
        transform: scale(0.9);
    }
}